//output:index.html

doctype html 5
//Made by Nel Korajkic.
//1.4.17
head
    //script(src="scripts/blur.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.min.css" )
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel="icon", href="images/favicon2.png")
    title NEL KORAJKIC

    header
        nav
            .container
                ul 
                    li 
                        img(id="one")(src="images/dot.png")
                        a#personalLink(href='#') Personal
                    li 
                        img(id="two")(src="images/dot.png")
                        a#skillsLink(href='#') Skills
                    li 
                        img(id="three")(src="images/dot.png")
                        a#educationLink(href='#') Education
                    li 
                        img(id="four")(src="images/dot.png")
                        a#workLink(href='#') Work
                    li 
                        img(id="five")(src="images/dot.png")
                        a#contactLink(href='#') Contact
body
    a.box(href='#popup1') Printing? Click here! 
    #popup1.overlay
        .popup
            h1 Printers Rejoice!
            a.close(href='#') ×
            .content
                | If you plan to print this webpage, it will format itself to be printer friendly! :)  

.container2
    h1(class="out") Nel Korajkic
    img(src="images/myPic.png")
    ul  
        .tagline
          img(src="images/place.svg")
          li Burlington, Vermont
        li Web Developer // Designer
      .strongContainer
        strong
          a#personalScroll(name='personalScroll')
       p.aboutMe My name is 
          b Nel Korajkic, 
          |I'm currently a student at 
          b The University of Vermont 
          | located in lovely 
          b Burlington, Vermont. 
          | I was born in Baden-Baden, Germany, before moving to the United States in 1999. I've had an interest in computers since I was young. My passion turned into a love for graphic design that lead me into developing the skills for Web Design and Development.
    .strongContainer
      a#skillsScroll(name='skillsScroll')
        strong skills & awards
    .skillsContainer
      .programs
        p 
          b Programs
        p Adobe Photoshop <br/> Adobe Illustrator <br/> GIT via CLI <br/>GitHub / GitLab <br/>Windows OS <br/>Microsoft Word <br/>PuTTy SSH <br/>Filezilla FTP<br/>
      .languages
        p
          b Languages
        p HTML (Jade) <br/> CSS (SASS) <br/> Javascript <br/>Python <br/>
      .skills
        p
          b Awards 
        p 3rd Place overall in Advanced Projects at the 2016 CS Fair hosted at UVM for our group project MHGenCalc an iOS app for a popular game Monster Hunter
        p 1st Place in our class CS008 Basic Web Design at the 2013 CS Fair hosted at UVM for a Pokemon fan website. 
    .strongContainer
      a#educationScroll(name='educationScroll')
        strong education
    .educationSection
      p(class="title") University of Vermont 
        hr
      p(class="subTitle") Bachelor of Arts Degree in Computer Science
      .text-container
        p(class="textSection") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
      p(class="date") 
        b Graduating: 
        | 2017
  .strongContainer 
    a#workScroll(name='workScroll')
        strong work
    .workSection
      p(class="title") Vermont Teddy Bear
        hr
      p(class="subTitle") Contact Center Agent
      .text-container
        p(class="textSection") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
      p(class="date") 
        b 2015 
        | - 2015

footer 
  
  .contactContainer
    .strongContainer
      a#contactScroll(name='contactScroll')
        strong contact
      pre Address: 126 Northgate Rd, Burlington VT 05408 
          |Phone Number: 802-488-0152
          |Email: 
          a(href="mailto:nelkorajkic@gmail.com")  nelkorajkic@gmail.com
  .linksContainer    
    a(href='https://www.linkedin.com/in/nel-korajkic-801002134?trk=hp-identity-name')
      img.one(src='images/linkedin.png')
    a(href='https://gitlab.uvm.edu/mhgc/mhgc')
      img(src="images/gitlab.png")
    a(href='https://github.com/nelKorajkic/')
      img(src="images/github.png",url="google.com")
    p © Copyright 2017
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js")
script(src="scripts/functionality.js")
